[submodule "SI_Toolkit"]
	path = SI_Toolkit
	url = https://github.com/SensorsINI/SI_Toolkit.git
[submodule "CartPoleSimulation"]
	path = CartPoleSimulation
	url = https://github.com/SensorsINI/CartPoleSimulation.git
[submodule "Control_Toolkit"]
	path = Control_Toolkit
	url = https://github.com/SensorsINI/Control_Toolkit.git
