-e ./SI_Toolkit
casadi
derivative
do-mpc==4.1.1
engineering_notation
git+https://github.com/homangab/gradcem@master#egg=mpc
GitPython
gpflow
gym[classic_control,mujoco,box2d]>=0.26.0
imageio
matplotlib
moviepy
natsort
nni
numba
numpy<1.23
pandas
pip
pygame
PyQt6
pyyaml
PyYAML
scienceplots==1.0.8
scipy
setuptools
scikit-learn
scikit-spatial
snakeviz
sympy
tensorflow
tensorflow-probability
torch
torchvision
tqdm
typing-extensions
